matplotlib
numpy>=2.0
tqdm
pyyaml
pandas
scikit-learn
seaborn
wandb
plotly
torch_geometric
tensorboardX
attrs
flatten_dict
gcsfs
google-auth
fsspec
cvxopt>=1.3.0
cvxpy
torch>=2.0
torchvision>=0.17
torchaudio>=2.0